html *
{
   font-family: Helvetica !important;
   color: black;
}

.page {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
}

#case_info_container {
    vertical-align: top;
    width: 480;
}

#case_info {
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    margin-right: 15px;
}

#chat_container {
    visibility: hidden;
    width: 400;
    height: 100%;
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

#chat_history {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: 10px;
    padding-right: 10px;
    margin-top: -15px;
}

#chat_input_div {
  height: 10%;
  width: 100%;
}

#chat_input {
    width: 100%;
    height: calc(100% - 10px);
    outline: none !important;
    border:1px solid #eee;
    box-shadow: 0 0 4px #719ECE;
    margin-top: 10px;
}

.role {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.utterance_container_user {
    padding-left: 20%;
}

.utterance_container_assistant {
    width: 80%;
}

.background_assistant {
    background-color: #f9fae8;
}

.background_user {
    background-color: #fff1ed;
}

.utterance_bubble {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.utterance {
    padding: 10px;
}

#case_assessment_div {
  visibility: hidden;
  width: (100% - 20px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  background-color: #eee;
}

#navigation {
  width: 480px;
  margin-top: 20px;
}

.case_assessment_option {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    text-align: center;
    width: 250px;
    padding: 10;
    margin: 5;
    cursor: pointer;
    color: #444;
}

.case_assessment_option_selected {
    cursor: default;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.navigationButton {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 10;
    cursor: pointer;
}

.navigationButton[disabled], .navigationButton:disabled {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #aaa;
    cursor: default;
}
