<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="imagetoolbar" content="no" />
<meta name="cache-control" content="no-cache" />
<title>Chat experiment</title>
<script src="static/socket.io.min.js"></script>
<script src="static/socket.js"></script>
<script src="static/chat.js"></script>
<script>
role = 'respondent';
participant = '{{ participant }}';
</script>
<link rel="stylesheet" href="static/chat.css">
</head>

<body onLoad="initializeChat()">

<div class="page">
    <div class="chat_container">
        <div id="chat_history"></div>
        <div id="chat_input_div">
          <textarea id="chat_input" onkeypress="handleKeyPress(event, this)"></textarea>
        </div>
    </div>
</div>

</body>
</html>