{% if state == 'pre_chat' %}
            <p>You will now chat with the assistant.</p>
            <p>Note that participation is anonymous. Please do not share any personal information (such as your name) in the chat.</p>
            <p>The chat continues for as long as you and the other participant want. When you want to leave the conversation, and thereby the experiment, you can close the browser.</p>
            <p>
                <input type="button" value="OK" onClick="emitProceed()">
            </p>
{% endif %}
