<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="imagetoolbar" content="no" />
<meta name="cache-control" content="no-cache" />
<title>Chat experiment</title>
<script src="static/socket.io.min.js"></script>
<script src="static/socket.js"></script>
<script src="static/interact.js"></script>
{{ extra_head_js }}
<script>
role = 'respondent';
participant = '{{ participant }}';
assessmentLabels = {{ settings['target']['labels'] }};
numCases = '{{ settings['cases']['n'] }}';
</script>
<link rel="stylesheet" href="static/interact.css">
</head>

<body onLoad="initializeInteraction()">

<div class="page">
    <table style="height:100%">
        <tr>
{% if cases_enabled %}
            <td id="case_info_container">
                <div id="case_info_div"></div>
                <div id="case_assessment_div" align="center">
                    <div class="case_assessment_title">Assessment</div>
                    <div class="case_assessment_description">{{ settings['target']['description'] }}</div>
{% for label in settings['target']['labels'] %}
                    <div id="case_assessment_option_{{ label }}"
                         class="case_assessment_option"
                         onClick="selectCaseAssessmentOption({{ label }})"
                    >{{ settings['target']['labels'][label] }}</div>
{% endfor %}
                </div>
                <div id="navigation">
                    <table width="100%">
                        <tr>
                            <td align="left"><div class="navigationButtonDisabled">Previous</div></td>
                            <td align="center"><div id="caseCountIndicator"></div></td>
                            <td align="right"><div class="navigationButtonDisabled">Next</div></td>
                        </tr>
                    </table>
                </div>
            </td>
{% endif %}
            <td id="chat_container">
                <div id="chat_history"></div>
                <div id="chat_input_div">
                  <textarea id="chat_input" onkeypress="handleKeyPress(event, this)"></textarea>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>