.caseInfoCell {
  vertical-align: top;
}

select {
  width: 200px;
}

.highlighted {
  border-color: black;
  color: black;
}

.caseInfoHeader {
  font-size: 120%;
}

.caseInfoSubHeader {
  font-style: italic;
}