.caseInfoFeatureDescription {
  width: 280px;
  vertical-align: top;
}

.caseInfoFeatureValue {
  width: 200px;
  vertical-align: top;
}

select {
  width: 100%;
}

.highlighted {
  border-color: black;
  color: black;
}

.caseInfoHeader {
  font-size: 120%;
}

.caseInfoSubHeader {
  font-style: italic;
}

.case_assessment_title {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 5px;
}
